<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hdu.team.hiwanan">

    <!-- 震动-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 录音 和读写文件 的权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 申明权限 操作SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="ANDROID.PERMISSION.INTERNET" />

    <uses-feature android:name="android.hardware.Camera" />

    <!-- 取消系统锁屏权限-->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">


        <activity android:name=".activity.HiLogoActivity">

        </activity>

        <activity
            android:name=".activity.HiLoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.HiRegistActivity"></activity>
        <activity android:name=".activity.HiMainActivity"></activity>

        <activity
            android:name=".activity.HiWanAnActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.HiVoiceSettingActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.HiAboutFunction"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.HiWanAnShareActivity"></activity>

        <!-- 锁屏界面 全屏显示-->
        <activity android:name=".activity.HiLockScreenActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:launchMode="singleTask">
        </activity>

        <service android:name=".service.HiLockScreenService">
        </service>

        <!-- 为捕获home键而设置的 空的 activity， 不需要显示 (Theme.NoDisplay)；-->
        <!-- 但非锁屏状态下按home，也会调用此home界面。我们只需在home界面onCreate（）里如此设置即可-->
        <activity android:name=".activity.HiLockScreenHome"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
