<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hdu.team.hiwanan">

    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 录音 和读写文件 的权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 申明权限 操作SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.Camera" />
    <!--熄灭屏幕-->
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.DEVICE_POWER"></uses-permission>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <!-- 取消系统锁屏权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 锁屏解锁-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <!-- Bmob -->

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--Mob 分享组件-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!--短信-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />


    <application
        android:name=".base.HiApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.HiLogoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LogoTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.HiLoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <!--<activity-->
            <!--android:name=".activity.HiLoginActivityMaterial"-->
            <!--android:screenOrientation="portrait">-->

        <!--</activity>-->

        <activity android:name=".activity.HiRegistActivity" />

        <activity
            android:name=".activity.HiMainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.HiTimePickerActivity" />

        <activity
            android:name=".activity.HiWanAnActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.HiVoiceSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.HiAboutFunction"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.HiCollectionActivity" />

        <activity android:name=".activity.HiWanAnShareActivity" />

        <activity

            android:name=".activity.HiWanAnShareActivity2"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- 锁屏界面 全屏显示 -->
        <!--android:theme="@android:style/Theme.NoTitleBar.Fullscreen"-->
        <activity
            android:name=".activity.HiScreenLockActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen"
            android:excludeFromRecents="true">
            <intent-filter>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 为捕获home键而设置的 空的 activity， 不需要显示 (Theme.NoDisplay)； -->
        <!-- 但非锁屏状态下按home，也会调用此home界面。我们只需在home界面onCreate（）里如此设置即可 -->
        <activity
            android:name=".activity.HiScreenLockHome"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HiUserInfoActivity"></activity>
        <activity android:name=".activity.TestActivity"></activity>
        <activity android:name=".activity.HiCalendarActivity"></activity>

        <service android:name=".service.HiRingtoneService"/>
        <service android:name=".service.HiRingtoneService2"/>
        <service android:name=".service.HiScreenLockService" />

        <receiver android:name=".broadcast.HiAlarmClockReceiver"/>

        <!--Mob-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 -->
            <!--替换的时候tencent保留，只替换后面的appid （不需要QQ或者微博可以不配置intent过滤，但是mobuishell这个activity必须要有）-->
            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 新浪微博客户端分享回调必须配置 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--微信分享回调 -->
        <activity
            android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />

    </application>

</manifest>